* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./../images/machine_2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}

header {
  background: transparent;
  height: 110px;
  border-radius: 20px;
  margin-left: 2%;
  border-bottom: 2px solid white;
}
.logo {
  width: 20%;
  float: left;
  padding-left: 50px;
  line-height: 100px;
}

.heading h2 {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
  position: relative;
}
.login {
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  color: #B3B6B7;
  margin-left: 10px;
}
.login a{
  text-decoration: none;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  color: #38afff ;
}
.login a:hover {
  color: #2E86C1;
}
.reg{
  max-width: 350px;
  padding: 25px 30px;
  margin-left: 36%;
  margin-top: 3%;
  color: white;
  background: white;
  border: 2px solid #F4F6F7 ;
  border-radius: 15px;
}
.reg form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}

.user-details .col-1-1 input {
  width: 100%;
  height: 45px;
  outline: none;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 17px;
  font-family: sans-serif;
  border-bottom-width: 3px;
  transition: all 0.4s ease;
}
.user-details .col-1-1 input:hover {
  border-color: #AF7AC5;
}
.user-details {
  text-align: left;
}
.user-details .col-1-1 .details{
  font-weight: 600;
  margin-top: 20px;
}
.user-details .col-1-1 em {
  margin-left: 15px;
  margin-bottom: 20px;
}
form .button input {

  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  background: #85C1E9;
}
.button input:hover{
  background: greenyellow;

}
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0,0, 0.5);
  z-index: 1;
  display: none;
}
.popup .contact {
  position: absolute;
  position: fixed;
  bottom: 20%;
  left: 47%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 500px;
  border: 2px solid #229954;
  z-index: 2;
  height: 300px;
  border-radius: 7px;
}
.popup.active .overlay{
  display: block;
}
.popup.active .contact {
  transition: all 0.1s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.contact h1 {
  padding-top: 13px;
  height: 50px;
  background: #229954 ;
  color: white;
  overflow: hidden;
  border-radius: 4px;
}
.contact p {
  font-size: 25px;
  margin-top: 70px;
  width: 500px;
  font-family: sans-serif;
  font-weight: 550;
  text-align: center;
  color: #424949;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.line {
  margin-top: 83px;
  height: 1px;
  background: silver;
}
.contact input {
  width: 90px;
  height: 35px;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 78%;
  border-radius: 4px;
  background: transparent;
  border: 2px solid #229954;
  color: #229954 ;
  cursor: pointer;
}
.contact input:hover{
  background-color: #229954;
  color: white;
  transition: 0.3s;
}
#error {
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 550;
  font-family: sans-serif;
  color: #E74C3C ;
  display: none;
  transition: all 0.5s ease;
}
.check {
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.check input{
  cursor: pointer;
  width: 13px;
  height: 13px;
}